{% include 'partials/header.html' %}
<body class="bg-neutral-50 dark:bg-black">
    {% include 'partials/nav.html' %}
    <div class="container mx-auto mt-10 p-6 max-w-4xl">
        <div class="bg-gray-800 rounded-lg shadow-lg p-6">
            <div class="flex items-center space-x-6">
                <img src="https://via.placeholder.com/150" alt="Profile Picture" class="w-20 h-20 rounded-full border-2 border-gray-600">
                <div>
                    <p class="text-xl font-semibold">Jovan Wee</p>
                    <p class="text-gray-400">Admin</p>
                    <p class="text-gray-400">25/13</p>
                </div>
            </div>
            <hr class="my-6 border-gray-600">
            <div>
                <h5 class="text-xl font-bold mt-6">Update Password</h5>
                <div class="mt-4">
                <form id="update-password" method="POST" class="">
                    <div class="mb-6">
                        <label for="password" class="block text-sm font-bold mb-2">New Password:</label>
                        <input type="password" name="password" id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                    </div>
                    <input type="submit" value="Reset Password" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                </div>
            </div>
        </div>
    </div>
{% include 'partials/footer.html' %}