@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;         
    min-height: 100vh;     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
#login, #reset {
    background-color: #1f2937;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: 32rem; 
  }
  
label {
    display: block;
    font-size: 0.875rem; /* 14px */
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
input[type="email"],
input[type="password"]
input[type="text"] {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.75rem 1rem; 
  margin-bottom: 1rem;
}
  
input[type="submit"] {
  color: white;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease; /* Add hover transition */
}
  
button[type="submit"]:hover {
  background-color: #2563eb; /* Darker blue on hover */
}
  
a {
  color: #3b82f6;  /* Blue link color */
  text-decoration: underline;
}

.table-container {
  width: 90%;
  max-width: 1200px;
}

.table {
    background-color: #1f2937; /* Dark gray background for table */
    color: white; /* White text for table content */
    border-collapse: collapse; /* Collapse borders */
    width: 100%;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #374151; /* Slightly lighter border */
}

.table th {
    background-color: #111827; /* Darker background for headers */
}

.table tr:nth-child(even) {
    background-color: #374151; /* Alternating row color */
}

.table tr:hover {
    background-color: #4b5563; /* Highlight on hover */
}

#home_button{
  text-decoration: none;
}

nav a{
  color: white;
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Style the select element */
select {
  -webkit-appearance: none; /* Remove default WebKit styles */
  -moz-appearance: none;    /* Remove default Firefox styles */
  appearance: none;         /* Remove default styles for modern browsers */
  background-color: white;  /* Set background color */
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.toggle-link {
  display: block;
  cursor: pointer;
}
.toggle-link:hover {
  text-decoration: underline;
}

#reset-form {
  display: none;
}

#deletecode, #overview {
  display: none;
}