{% include 'partials/header.html' %}
<body class="bg-black text-white min-h-screen flex flex-col items-center justify-center">
    {% include 'partials/nav.html' %}
    <div class="container mx-auto">
        <h2 class="text-2xl font-bold mb-4">Welcome</h2>
        {% if 'user' in session %}
            <p class="mb-2">You are logged in as {{ session['user'] }}</p>
            <a href="/signout" class="text-blue-500 hover:text-blue-700">Sign Out</a>
        {% endif %}
    
        <br><hr class="border-gray-600 my-4"><br>

        <h2 class="text-xl font-semibold mb-4">Your Class Group: {{ cg }}</h2>
        <div class="mb-4 space-x-4">
                <a href="cg/{{cg_link}}" class="text-blue-500 hover:text-blue-700">View Class</a>
                <a href="cg/{{cg_link}}/attendance" class="text-blue-500 hover:text-blue-700">Mark Attendance</a>
                <a href="cg/{{cg_link}}/print_order" class="text-blue-500 hover:text-blue-700">Bookshop Printing</a>
        </div>
    
        <br>
    
        <div class="mb-4">
            <form method="POST" action="/quiz/10e912fc-3f86-4e42-8394-b21b19019bf1/create_session">
                <input type="submit" value="Start Quiz" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            </form>
        </div>
    
        {% if role == "admin" %}
        <div class="mb-4">
            <h2 class="text-xl font-semibold mb-4">Admin Panel</h2>
                <div class="space-y-2">
                    <a href="/admin/add_question" class="text-blue-500 hover:text-blue-700">Add Questions</a>
                    <a href="/admin/add_quiz" class="text-blue-500 hover:text-blue-700">Add Quiz</a>
                    <a href="/admin/add_user" class="text-blue-500 hover:text-blue-700">Add Student</a>
                </div>
        </div>
        {% endif %}
    </div>
{% include 'partials/footer.html' %}