{% include 'partials/header.html' %}
<body class="bg-black text-white min-h-screen flex flex-col items-center justify-center pt-20">
    {% include 'partials/nav.html' %}
    <div class="container mx-auto">
        <h2 class="text-2xl font-bold mb-4">Welcome</h2>
        {% if 'user' in session %}
            <p class="mb-2">You are logged in as {{ session['user'] }}</p>
            <a href="/signout" class="text-blue-500 hover:text-blue-700">Sign Out</a>
        {% endif %}
    
        <br><hr class="border-gray-600 my-4"><br>

        <h2 class="text-xl font-semibold mb-4">Your Class Group: {{ cg }}</h2>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mb-4">
            <button 
                class="bg-gray-800 shadow-lg hover:shadow-xl hover:bg-gray-700 transition-all duration-300 rounded-md p-4 text-blue-500 hover:text-blue-300 text-center"
                onclick="window.location.href='cg/{{cg_link}}';" 
                aria-label="View Class">
                <div class="text-lg font-semibold">View Class</div>
                <p class="text-sm text-gray-400 mt-2">Manage and view your classes.</p>
            </button>
            <button 
                class="bg-gray-800 shadow-lg hover:shadow-xl hover:bg-gray-700 transition-all duration-300 rounded-md p-4 text-blue-500 hover:text-blue-300 text-center"
                onclick="window.location.href='cg/{{cg_link}}/attendance';" 
                aria-label="Mark Attendance">
                <div class="text-lg font-semibold">Mark Attendance</div>
                <p class="text-sm text-gray-400 mt-2">Track attendance quickly.</p>
            </button>
            <button 
                class="bg-gray-800 shadow-lg hover:shadow-xl hover:bg-gray-700 transition-all duration-300 rounded-md p-4 text-blue-500 hover:text-blue-300 text-center"
                aria-label="Comming Soon">
                <div class="text-lg font-semibold">Comming Soon</div>
                <p class="text-sm text-gray-400 mt-2">More Features to offer soon.</p>
            </button>
        </div>
    
        <br>
        
        <div class="container mx-auto mt-10">
            <h2 class="text-xl font-semibold mb-4">Quizzes</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                {% for quiz in quiz_list: %}
                <div class="bg-gray-800 rounded-lg shadow-lg p-6">
                    <h2 class="text-2xl font-bold mb-4">{{ quiz['title'] }}</h2>
                    <p class="mb-4">{{ quiz['description'] }}</p>
                    {% if quiz['quiz_id'] in created_quiz[0] %}
                    <form method="POST" action="/quiz/{{ quiz['quiz_id'] }}/created_quiz[1]['{{ quiz['quiz_id'] }}']/start">
                        <input type="submit" value="Continue Quiz" class="bg-purple-500 text-white py-2 px-4 rounded hover:bg-purple-700">
                    </form>
                    {% else %}
                    <form method="POST" action="/quiz/{{ quiz['quiz_id'] }}/create_session">
                        <input type="submit" value="Start Quiz" class="bg-purple-500 text-white py-2 px-4 rounded hover:bg-purple-700">
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    
        {% if role == "admin" %}
        <br><hr class="border-gray-600 my-4"><br>

        <div class="mb-4">
            <h2 class="text-xl font-semibold mb-4">Admin Panel</h2>
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mb-4">
                <button 
                    class="bg-gray-800 shadow-lg hover:shadow-xl hover:bg-gray-700 transition-all duration-300 rounded-md p-4 text-blue-500 hover:text-blue-300 text-center"
                    onclick="window.location.href='admin/add_question';" 
                    aria-label="View Class">
                    <div class="text-lg font-semibold">Add Question</div>
                    <p class="text-sm text-gray-400 mt-2">Create new questionss</p>
                </button>
                <button 
                    class="bg-gray-800 shadow-lg hover:shadow-xl hover:bg-gray-700 transition-all duration-300 rounded-md p-4 text-blue-500 hover:text-blue-300 text-center"
                    onclick="window.location.href='admin/add_quiz';" 
                    aria-label="Mark Attendance">
                    <div class="text-lg font-semibold">Add Quiz</div>
                    <p class="text-sm text-gray-400 mt-2">Add a new quiz for students</p>
                </button>
                <button 
                    class="bg-gray-800 shadow-lg hover:shadow-xl hover:bg-gray-700 transition-all duration-300 rounded-md p-4 text-blue-500 hover:text-blue-300 text-center"
                    aria-label="Comming Soon" onclick="window.location.href='admin/add_user'">
                    <div class="text-lg font-semibold">Add Users</div>
                    <p class="text-sm text-gray-400 mt-2">To add new users to the portal</p>
                </button>
            </div>
        </div>
        {% endif %}
    </div>
{% include 'partials/footer.html' %}