{% include 'partials/header.html' %}
<body>
    {% include 'partials/nav.html' %}
    <div class="container mx-auto mt-8">
        <h2 class="text-2xl font-bold mb-4">Login</h2>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        <form id="login" method="POST" class="bg-gray-900 p-8 rounded shadow-md">
            <div class="mb-4">
                <label for="email" class="block text-sm font-bold mb-2">Email:</label>
                <input type="email" name="email" id="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-6">
                <label for="password" class="block text-sm font-bold mb-2">Password:</label>
                <input type="password" name="password" id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <input type="submit" value="Login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        </form>
        <p class="mt-4">Don't have an account? <a href="/signup" class="text-blue-500 hover:text-blue-700">Signup</a></p>
        <p class="mt-4">Want to login with <a href="/magic-link" class="text-blue-500 hover:text-blue-700">Magic Link</a></p>
    </div>
{% include 'partials/footer.html' %}
