{% include 'partials/header.html' %}
<body>
    {% include 'partials/nav.html' %}
    <div class="container mx-auto mt-10 p-6 max-w-4xl">
        <div class="bg-gray-800 rounded-lg shadow-lg p-6">
            <!-- Profile Header -->
            <div class="flex items-center space-x-6">
                <img src="https://via.placeholder.com/150" alt="Profile Picture" class="w-20 h-20 rounded-full">
                <div>
                    <p>Jovan Wee</p>
                    <p class="text-gray-400">Admin</p>
                    <p class="text-gray-400">25/13</p>
                </div>
            </div>
            <div>
                <h5 class="text-lg font-bold mt-6">Account Settings</h5>
                <div>
                    <label>
                        
                    </label>
                </div>
            </div>

    </div>
{% include 'partials/footer.html' %}