<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.min.css') }}">
    <script>
        MathJax = {
          loader: {load: ['input/asciimath', 'output/chtml', 'ui/menu']},
          asciimath: {
            delimiters: [['$','$'], ['`','`']]
        }}
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body class="bg-black flex flex-col min-h-screen text-white pt-16" id="quiz">
    {% include 'partials/nav.html' %}
    <main class="flex-grow flex items-center justify-center py-8 px-4 w-full">
        <div class="max-w-4xl w-full bg-gray-800 rounded-lg shadow-lg p-8">
            <h1 class="text-3xl font-semibold mb-4">{{ quiz_name }}</h1>
            <p class="text-lg mb-6">{{ quiz_description }}</p>
            <p id="countdown" class="text-lg mb-6"></p>
            <hr class="my-6 border-gray-600">
            <div class="flex flex-wrap justify-center">
                {% for i in range(1, len_question + 1) %}
                    {% set question_key = 'question_' ~ i %}
                    {% if correct_dict[question_key] == True %}
                        <form method="POST" class="mr-2 mb-2" action="{{url_for('quiz.quiz_question', quiz_id=quiz_id, session_id=session_id, question_no=i )}}">
                            <input type="submit" value="{{ i }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 text-sm rounded focus:outline-none focus:ring-2 focus:ring-green-500">
                        </form>
                    {% else: %}
                        <form method="POST" class="mr-2 mb-2" action="{{url_for('quiz.quiz_question', quiz_id=quiz_id, session_id=session_id, question_no=i )}}">
                            <input type="submit" value="{{ i }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 text-sm rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                        </form>
                    {% endif %}
                {% endfor %}
            </div>

            <hr class="my-6 border-gray-600">

            <div class="mb-6">
                <p class="text-l font-medium">{{ question[0]['question'] }}</p>
                <p class="text-gray-400">Topic: {{ question[0]['topic'] }}</p>
                <p class="text-gray-400">Marks: {{ question[0]['marks'] }}</p>
            </div>
            {% if question[0]['correct'] == False: %}
            <form method="POST" class="mb-6" action="{{ url_for('quiz.question_submit', quiz_id=quiz_id, session_id=session_id, question_no=question_no)}}">
                <input type="hidden" name="question_id" value="{{ question[0]['id'] }}">
                <input type="hidden" name="marks" value="{{ question[0]['marks'] }}">
                <input type="text" name="answer" id="answer" value="{{ question[0]['user_answer'] }}" class="shadow-sm appearance-none border border-gray-600 rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Answer">
                <input type="submit" value="Submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
            </form>
            {% else: %}
            <form method="POST" class="mb-6" action="{{ url_for('quiz.question_submit', quiz_id=quiz_id, session_id=session_id, question_no=question_no)}}">
                <input type="hidden" name="question_id" value="{{ question[0]['id'] }}" disabled>
                <input type="hidden" name="marks" value="{{ question[0]['marks'] }}" disabled>
                <input type="text" name="answer" id="answer" value="{{question[0]['user_answer']}}" class="shadow-sm appearance-none border border-gray-600 rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 opacity-50 cursor-not-allowed" placeholder="Answer" disabled>
                <input type="submit" value="Submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 opacity-50 cursor-not-allowed" disabled>
            </form>
            {% endif %}
            <div class="mb-4">
                <button onclick="insertMathSyntax('sqrt')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">√</button>
                <button onclick="insertMathSyntax('a/b')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">a/b</button>
                <button onclick="insertMathSyntax('^')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">^</button>
                <button onclick="insertMathSyntax('pi')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">π</button>
                <button onclick="insertMathSyntax('int')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">∫</button>
                <button onclick="insertMathSyntax('log')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">log</button>
                <button onclick="insertMathSyntax('ln')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">ln</button>
                <button onclick="insertMathSyntax('(')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">(</button>
                <button onclick="insertMathSyntax(')')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">)</button>
                <button onclick="insertMathSyntax('alpha')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">α</button>
                <button onclick="insertMathSyntax('lambda')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">λ</button>
                <button onclick="insertMathSyntax('mu')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">μ</button>
                <button onclick="insertMathSyntax('beta')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">β</button>
                <button onclick="insertMathSyntax('in')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">∈</button>
                <button onclick="insertMathSyntax('RR')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">R</button>
                <button onclick="insertMathSyntax('((a), (b), (c))')" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">Vector</button>
            </div>
            <div id="output" class="mt-6 p-4 bg-gray-700 rounded-lg"></div>
        </div>
    </main>
    <script type="text/javascript">
        var targetTime = new Date("{{ target_time }}");
        var session_id = "{{ session_id }}"
        var quiz_id = "{{ quiz_id }}"

        function insertMathSyntax(symbol) {
            const answer = document.getElementById('answer');
            const startPos = answer.selectionStart;
            const endPos = answer.selectionEnd;
            const textBefore = answer.value.substring(0, startPos);
            const textAfter = answer.value.substring(endPos, answer.value.length);

            // Insert the symbol at the cursor position
            answer.value = textBefore + symbol + textAfter;

            // Move the cursor to the end of the inserted symbol
            answer.selectionStart = answer.selectionEnd = startPos + symbol.length;

            // Trigger Math rendering
            renderMath();
        }
        
        // Event listener for real-time rendering
        document.getElementById('answer').addEventListener('input', renderMath);
        
        // Function to render Math using MathJax
        function renderMath() {
            const answer = document.getElementById('answer').value;
            const outputDiv = document.getElementById('output');
        
            // Use MathJax to render ASCII Math
            outputDiv.innerHTML = "`" + answer + "`";
            MathJax.typesetPromise([outputDiv]);
        }
        
        // Initial rendering to handle default state
        renderMath();
    </script>
    {% include 'partials/footer.html' %}