{% include 'partials/header.html' %}
<body class="pt-16" id="login-page">
    {% include 'partials/nav.html' %}
    <div class="container mx-auto mt-8">
        <h2 class="text-2xl font-bold mb-4">Login</h2>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}

        <form id="login" method="POST" class="bg-gray-900 p-8 rounded shadow-md">
            <div class="mb-6">
                <label for="password" class="block text-sm font-bold mb-2">New Password:</label>
                <input type="password" name="password" id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <input type="submit" value="Reset Password" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        </form>


    </div>
{% include 'partials/footer.html' %}
