{% include 'partials/header.html' %}
<body class="flex items-center justify-center h-screen">
    {% include 'partials/nav.html' %}
    <div class="bg-gray-800 p-8 rounded-lg shadow-lg w-full max-w-sm">
        <h1 class="text-2xl font-bold mb-6 text-center">Generate Check-In Code</h1>
        <div id="classcode" class="text-4xl text-center mb-6"> </div>
        <button id="generatecode" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="generatecode()">Generate Code</button>
        <button id="deletecode" class="w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="deletecode()">Delete Code</button>
    </div>
{% include 'partials/footer.html' %}